*{
    margin:0;
    padding:0;
    text-align: center;
}

:root{
    font-size:20px;
    --color-accent:#3fdb1f;
    --color-text: #fff;
    --color-border:#000;
    --color-highlight:rgba(63, 219, 31,0.25);

    --color-noun:#042a70;
    --color-verb:#682904;
    --color-adjective:#005851;
    --color-adverb:#5f005f;
    --color-particle:var(--color-accent);
    
    --color-transitive:#74a4ff;
    --color-intransitive:#e04b4b;
    --color-na:#4cddbe;
    --color-i:#e453f1;
    --color-suru:#adb5d8;

    --fontsize-standard:1rem;
    --fontsize-h1:3rem;
    --fontsize-h2:1.75rem;

    --fontsize-small:1rem;
    --lineheight-small:1.25rem;
}

i {
    font-style:normal;
    color:var(--color-text);
}
#front{
    font-size: var(--fontsize-h1);
    color: var(--color-accent);
    font-weight: 300;
}

.meanings{
    font-size: var(--fontsize-h2);
    text-align: center;
    padding: 0.5em 0;
    display:block;
}

.contents{
    display:flex;
    justify-content:center;
}

.contents > div {
    padding: 0 1rem;
}

.divisor-right{
    border-right: 5px solid var(--color-border);
}

.contents__examples{
    flex-grow:0.7;
}

.contents__examples > .contents__title{
    text-align: left;
}

.contents__readings{
    font-size: var(--fontsize-h3);
}

.contents__examples__content{
    text-align: left;
    display:flex;

}

.contents__examples__content b{
    font-size: var(--fontsize-h2);
    color:var(--color-accent);
    font-weight: 400;
}

.minor-divisor-right{
    padding-right:1rem;
    margin-right: 1rem;
    border-right: 2px solid var(--color-accent);
}

.contents__examples__furigana, .contents__examples__words{
    width:auto;
    line-height:var(--lineheight-big);
    font-weight:300;
    color: var(--color-accent);
    font-size:var(--fontsize-h2)
}

.contents__examples__furigana u, .contents__examples__words u{
    background-color: var(--color-highlight);
    color: white;
}
.contents__examples__furigana{
    text-align:right;
}

.contents__examples__meanings{
    width:60%;
    text-align:left;
    line-height:var(--lineheight-big);
}

.contents__title{
    font-size:var(--fontsize-h2);
    color: var(--color-accent);
    border-bottom: 3px solid var(--color-accent);
}

.contents__onyomi h2{
    color:var(--color-on);
    border-color: var(--color-on);
}

.contents__kunyomi h2{
    color:var(--color-kun);
    border-color: var(--color-kun);
}