*{
    margin:0;
    padding:0;
}

:root{
    font-size:14px;
    --font: "Source Han Sans", "源ノ角ゴシック", "Hiragino Sans", "HiraKakuProN-W3", "Hiragino Kaku Gothic ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Noto Sans", "Noto Sans CJK JP", "メイリオ", Meiryo, "游ゴシック", YuGothic, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック", "MS Gothic", sans-serif;
    font-family: var(--font);

    --color-accent:#3fdb1f;
    --color-text: #fff;
    --color-text-dark:#181818;
    --color-border:#008a12;
    --color-highlight:rgba(0, 138, 18, 0.5);

    --color-noun:#042a70;
    --color-verb:#682904;
    --color-adjective:#005851;
    --color-adverb:#5f005f;
    --color-particle:var(--color-accent);
    
    --color-transitive:#74a4ff;
    --color-intransitive:#e04b4b;
    --color-na:#4cddbe;
    --color-i:#e453f1;
    --color-no:#8f87ff;
    --color-suru:#adb5d8;

    --color-on:#e660da;
    --color-kun:#518de7;

    --fontsize:1rem;
    --fontsize-h1:3rem;
    --fontsize-h2:2rem;
    --fontsize-h3:1.5rem;
    --fontsize-small:0.75rem;
    
    --lineheight-small:1.25rem;
    --lineheight-h1:3rem;
    --lineheight-h2:2.5rem;
    --lineheight-h3:2rem;

    color: var(--color-text);
}

h1, h2, h3{
    color: var(--color-accent);
    display:inline-block;
    width:100%;
    border-bottom: 3px solid var(--color-accent);
    margin: 0.5rem 0 0.25rem 0;
    text-indent: 2rem;
}

h1{
    font-size: var(--fontsize-h1);
    line-height: var(--lineheight-h1);
}

h2{
    font-size: var(--fontsize-h2);
    line-height: var(--lineheight-h2);
}

h3{
    font-size: var(--fontsize-h3);
    line-height: var(--lineheight-h3);
}

b, strong{
    color:var(--color-accent);
}

body{
    height:100vh;
}

.wrapper{
    display:flex;
    flex-flow:column;
    height:100vh;
    overflow-y: hidden;
}

.border-bottom {
    border-bottom: 3px solid var(--color-border);
}


/* FRONT */
.standard-front{
    display:flex;
    flex-flow: column;
    text-align:center;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid var(--color-border);
    padding-bottom: 1em;

    & rt{
        display:none;
    }

    & rp{
        display:none;
    }
}

.vocab{
    border:none;
    text-indent:0;
    text-align: center;
    font-weight: 500;
}

.container-buttons{
    width:100%;
    
    display:flex;
    justify-content: space-around;
    margin: 0.5em 0;
}

.button{
    font-weight: 700;
    font-family: monospace;

    & span{
        font-size:var(--fontsize-h3);
        font-family: var(--font);
    }
    text-transform:uppercase;    
    padding: 0.25em;
    width: 40%;
    background-color:var(--color-highlight);
    color: var(--color-text);
}

.single-button{
    width: 100%;
}

.sentence-front{
    font-size: var(--fontsize-h2);
    display:none;
}

.redacted{
    & b, & strong{
        color: var(--color-accent);
        background-color: var(--color-accent);
    }
}


/* BACK */



/* HEADER */
.standard-back{
    display:flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    overflow-y: hidden;
}

.navigation{
    width:100%;
    border-bottom: 3px solid var(--color-border);
    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom:0.5em;
}

.navigation-item{
    list-style: none;
    flex:auto;
    text-align: center;
    border-right: 3px solid var(--color-border);
    padding: 0.25em 0;
}

#button-examples{
    text-decoration:underline;
}

.navigation-item:last-child{
    border:none;
}

.tab-button{
    font-family: monospace;
    font-weight: 700;
    font-size:var(--fontsize-h3);
    text-transform:uppercase;

    color:var(--color-accent);

    background:none;
}



/* GENERAL */
.tabs-container{
    flex-shrink:1;
    width: 100%;    
    overflow-y: scroll;
}

.tab{
    width:100%;
    display:flex;
    flex-flow:column;
    align-items: center;
    box-sizing: border-box;
    padding: 0.5rem;
}



/* AUDIO & MEANING */
.audio{
    padding: 0.25em;
}

.container-audio-meaning{
    display:none;
}

/* EXAMPLES & INFORMATION */
.container-sentence-translation{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.sentence, .sentence-translation{
    padding: 0.25em;
}

.sentence{
    & b, & strong{
        color: var(--color-accent);
    }
}

.container-tags{
    display:flex;
    flex-flow: column;
    align-items: center;
    width:100%;
}

.tags{
    font-weight:900;
    text-transform: uppercase;
    display:block;
    margin:0.75em 0;

    & ul{
        list-style-type:none;
        width: 100%;
        display:flex;
        justify-content: space-around;
        gap:0.5em;
    }

    & li{
        text-align: center;
        padding:0.5em;
        border-radius: 0 0.5em;
    }
}

#function{
    & li{
        color:var(--color-text);
        border: 2px dotted var(--color-text);
    }
}

#type{
    & li{
        color:var(--color-text-dark);
    }
}

.container-notes{
    text-align:left;
}



/* FORMING & LINKS */
.container-forming-links{
    display:none;
}

.container-forming{
    padding-bottom: 0.5em;
}

.link-list-wrapper{
    & ul{
        display:flex;
        justify-content: space-around;
    }

    & li{
        flex:0 0 0;
        list-style: none;
        text-align: center;
        font-weight: 900;
        width:auto;
        display:flex;
    }

    & a {
        color:var(--color-accent);
        margin:auto;
    }
}

.source-link{
    text-align: center;
    padding-top: 1rem;
}

@media screen and (min-width: 1000px){
    body{
        font-size: 18px;
        background:black;
    }

    .navigation{
        display:none;
    }

    .button{
        font-size: var(--fontsize-h2);
    }

    .tabs-container{
        display:grid;
        grid-template-columns: 30% 40% 30%;
    }

    .container-audio-meaning{
        display:flex;
    }

    .container-forming-links{
        display:flex;
    }
}