*{
    margin:0;
    padding:0;
}

:root{
    font-size:16px;
    font-family:" Source Han Sans", "源ノ角ゴシック", "Hiragino Sans", "HiraKakuProN-W3", "Hiragino Kaku Gothic ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Noto Sans", "Noto Sans CJK JP", "メイリオ", Meiryo, "游ゴシック", YuGothic, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック", "MS Gothic", sans-serif;

    --color-accent:#3fdb1f;
    --color-text: #fff;
    --color-border:#000;
    --color-highlight:rgba(63, 219, 31,0.25);

    --color-noun:#042a70;
    --color-verb:#682904;
    --color-adjective:#005851;
    --color-adverb:#5f005f;
    --color-particle:var(--color-accent);
    
    --color-transitive:#74a4ff;
    --color-intransitive:#e04b4b;
    --color-na:#4cddbe;
    --color-i:#e453f1;
    --color-suru:#adb5d8;

    --color-on:#e660da;
    --color-kun:#518de7;

    --fontsize-standard:1rem;
    --fontsize-h1:3rem;
    --fontsize-h2:1.75rem;

    --fontsize-small:1rem;
    --lineheight-small:1.25rem;
    --lineheight-big:2.5em;
}

h2{
    font-size:var(--fontsize-h2);
    margin-top:1em;
    margin-bottom:0.5em;
    font-weight:00;
    color:var(--color-accent);
    padding-bottom:0.25em;
    border-bottom:2px solid var(--color-accent);
}

.front{
    font-size:var(--fontsize-h2);
}

.front__redacted b, .front__redacted strong{
    background-color:var(--color-accent);
}

.front__redacted rt{
    color: rgba(1,1,1,0);
}

rt{
    display:none;
}

.front__button__container{
    display:flex;
    justify-content: center;
    gap:2rem;
margin-bottom:1em;
}

.button {
    color:var(--color-text);
    background-color: var(--color-highlight);
    border: 2px solid var(--color-text);
    padding:0.25em;
    display:block;
    margin-top:1em;
    width: auto;
}

.sentence{
    display:none;
}

.front__vocab{
	font-size:var(--fontsize-h1);
	color:var(--color-accent);
			
}

b, strong{
    color:var(--color-accent);
    font-weight:400;
}

.contents{
    display:flex;
    box-sizing: border-box;
	font-size:20px;
}

.contents__meaning{
    box-sizing:border-box;
    width:50%;
    font-size:15px;
    padding: 10px 30px;
    max-height: 700px;
    overflow-y:auto;
}

.contents__details{
    display:flex;
    justify-content:space-evenly;

    width:100%;
}

.contents__details__information{
    box-sizing: border-box;

    width:40%;
    display:flex;
    flex-direction: column;
    align-items: center;

    border-left: 2px solid var(--color-border);

		
    max-height:700px;		
    overflow-y:auto;
    padding:10px;
    line-height:1em;
}

.contents__details__information__type, .contents__details__information__function{
    font-size:var(--fontsize-standard);
    font-weight:900;
    text-transform: uppercase;
    display:block;
    margin:0.75em 0;
}

.attribute_list > ul{
    list-style-type:none;
    width: 100%;
    display:flex;
    gap:0.5em;
}

.attribute_list > ul > li{
    text-align: center;
    padding:0.5em;
    border-radius: 0 0.5em;
}

.contents__details__information__type li{
    color:var(--color-border);
}

.contents__details__information__function li{
    color:var(--color-text);
    border: 2px dotted var(--color-text);
}

.contents__details__information__kanji{
    padding: 5px;
    border-bottom: 2px solid var(--color-border);
}


.contents__details__information__kanji b, .contents__details__information__kanji strong{
    font-size:var(--fontsize-h1);
	font-weight:100;
    line-height:var(--fontsize-h1);
}

.contents__details__longform__sentence rt{
    display:block;
}

.contents__details__information__notes{
    box-sizing: border-box;
    padding: 10px;
    font-size: var(--fontsize-small);
	line-height:var(--lineheight-small);
    width:100%;
	height:500px;
    overflow-y:scroll;
    text-align: left;
    text-indent:2em;
}

.contents__details__information__notes div{
    margin-top:0.5em;
}

.contents__details__information__notes b,
.contents__details__information__notes strong{
    color:white;
    background-color:var(--color-highlight);
    font-weight:700;
}

.card {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: var(--color-border);
    background-color: white;
    margin:0;
    padding:0;
}

.contents__details__longform{
    box-sizing: border-box;
    width:60%;

    display:flex;
    flex-direction: column;
    align-items: center;

    border-left: 2px solid var(--color-border);
    
    padding: 10px;
}

.contents__details__longform__sentence{
    border-bottom: 2px solid var(--color-border);
	padding-bottom: 10px;
    font-size:1em;
}

.contents__details__longform__forming{
    padding:1em;
}

/* KANJI STYLESHEET ------------------------------------------------------- */
.kanji-contents__examples__words rt{
    display:block;
}

i {
    font-style:normal;
    color:var(--color-text);
}

#kanji-front{
    font-size: var(--fontsize-h1);
    color: var(--color-accent);
    font-weight: 300;
}

.kanji-meanings{
    font-size: var(--fontsize-h2);
    text-align: center;
    padding: 0.5em 0;
    display:block;
}

.kanji-contents{
    font-size:20px;
    display:flex;
    justify-content:center;
}

.kanji-contents > div{
    padding: 0 1rem;
}

.divisor-right{
    border-right: 5px solid var(--color-border);
}


.kanji-contents__title{
    font-size:var(--fontsize-h2);
    color: var(--color-accent);
    border-bottom: 3px solid var(--color-accent);
}

.title-kun{
    color:var(--color-kun);
    border-color:var(--color-kun);
}

.title-on{
    color:var(--color-on);
    border-color:var(--color-on);
}

.kanji-contents__examples{
    flex-grow:0.7;
}

.kanji-contents__examples > .kanji-contents__title{
    text-align: left;
}

.kanji-contents__readings{
    font-size: var(--fontsize-h2);
}

.kanji-contents__examples__content{
    text-align: left;
    display:flex;

}

.kanji-contents__examples__content b{
    font-size: var(--fontsize-h2);
    color:var(--color-accent);
    font-weight: 400;
}

.minor-divisor-right{
    padding-right:1rem;
    margin-right: 1rem;
    border-right: 2px solid var(--color-accent);
}

.kanji-contents__examples__furigana, .kanji-contents__examples__words{
    width:auto;
    font-weight:300;
    color: var(--color-accent);
    font-size:var(--fontsize-h2)
}

.kanji-contents__examples__words ul,.kanji-contents__examples__meanings ul{
    display:flex;
    flex-direction: column;
    list-style: none;
}

.kanji-contents__examples__words li, .kanji-contents__examples__meanings li{
    height: 2.5rem;
    border-bottom: 1px solid var(--color-accent);
    margin-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.kanji-contents__examples__furigana u, .kanji-contents__examples__words u{
    background-color: var(--color-highlight);
		line-height:var(--lineheight-small);
    color: white;
}
.kanji-contents__examples__furigana{
    text-align:right;
}

.kanji-contents__examples__meanings{
    width:60%;
    text-align:left;
    line-height:var(--lineheight-big);
}